@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-900 h-full p-4;
}

#app {
  @apply w-full h-full flex items-center flex-col gap-8;
}

#board {
  @apply flex flex-col gap-1.5;
}

.line {
  @apply flex items-center gap-0.5;
}

.cell {
  @apply text-2xl border rounded-md shadow border-gray-500 w-12 h-12 text-white font-bold flex items-center justify-center transition-colors;
}

.keyboard-key {
  transition-delay: 2.4s;
  @apply text-2xl border rounded-md shadow border-gray-500 w-12 h-12 text-white font-bold flex items-center justify-center transition-colors;
}

#keyboard {
  @apply max-w-md w-full flex flex-wrap items-center gap-2;
}

.wrong {
  @apply bg-gray-800 border-gray-600;
}

.correct {
  text-shadow: 0 0 0.5rem #00000050;
  @apply border-yellow-500 bg-yellow-600 text-white;
}

.perfect {
  text-shadow: 0 0 0.5rem #00000050;
  @apply border-green-500 bg-green-600 text-white;
}
